* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 12.8rem;
  background: url('./bg.png') no-repeat top center;
  line-height: 1.15;
}
header {
  position: relative;
  height: 1.25rem;
  background: url('./bg.png') no-repeat top center;
  background: rgb(179, 179, 255);
}
.showTime {
  position: absolute;
  right: .375rem;
  top: 0;
  font-size: 0.25rem;
  line-height: 0.935rem;
}
